Source: wallpaper-eumetsat
Section: misc
Priority: extra
Maintainer: Fabio Rueda <avances123@gmail.com>
Build-Depends: debhelper (>= 8.0.0), imagemagik, gconf2, wget
Standards-Version: 3.9.2
Homepage: http://blog.avances123.com/wallpaper-de-imagen-de-satelite-en-tiempo-real/
Vcs-Git: git://github.com/avances123/wallpaper-eumetsat.git
Vcs-Browser: https://github.com/avances123/wallpaper-eumetsat

Package: wallpaper-eumetsat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Create wallpaper from eumetsat data
 wallpaper-eumetsat is a small script in your crontab. It fetch an image 
 satelite of a vast set of real-time images and set as a wallpaper of 
 your desktop
